body {
    background-color: rgb(19, 19, 19);
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.Window {
    margin: auto;
    padding: 20px;
    width: 25%;
    border: 5px solid rgb(68, 68, 68);
    border-radius: 15px;
    background-color: rgb(68, 68, 68);
}
.Title {
    text-align: left;
}

.Quote {
    text-align: center;
}

.Button {
    background-color: #3792e7;
    border: 5px solid #3792e7;
    border-radius: 15px;
    color: white;
}