body {
    background-color: rgb(19, 19, 19);
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.Window {
    position: absolute;
    top: 35%;
    left: 35%;
    padding: 20px;
    width: 25%;
    height: 200px;
    border: 5px solid rgb(68, 68, 68);
    border-radius: 15px;
    background-color: rgb(68, 68, 68);
}
.Title {
    text-align: left;
}

.Quote {
    text-align: center;
    border: 5px solid rgb(155, 152, 152);
    background-color: rgb(155, 152, 152);
    border-radius: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.Button {
    float: right;
    background-color: #3792e7;
    border: 5px solid #3792e7;
    border-radius: 15px;
    color: white;
}